.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  padding-top: 1rem;  /* Reduce padding at the top */
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ... the rest of your styles ... */

